@font-face { font-family: 'Chunkfive'; src: url('../fonts/chunkfive.otf') format('opentype');
 } 
@font-face { font-family: 'NewsGothic'; src: url('../fonts/newsgothic-bold.otf') format('opentype');
 } 
 @font-face { font-family: 'NewsGothicCondensed'; src: url('../fonts/newsgothic-bold-condensed.otf') format('opentype');
 } 


@media (min-width:320px) {
	html {
		height: 100%;
		width:100%;
	}

	body {
		margin:0; 
		padding:0;
		height: 100%;
		position: relative;
		width:100%;
		/*temp*/
		color:#fff;
		min-height: 418px;
		font-size:10px;
		background:#c00;
	}

	a {
		color:#fff700;
		text-decoration:none;
	}

	#menu-button {
		background:url(../img/logo.svg) no-repeat;
		background-size:contain;
		display: block;
		width:50px;
		height:50px;
		box-shadow: 0 0 8px rgba(0,0,0,.5);

		/*test*/
		position: absolute;
		top:5px;
		right:5px;
		z-index:1;

		/*more performant approach to hiding text?*/
		line-height:0; 
	    font-size:0;
	    color:transparent; 


		/*temp*/
		-webkit-user-select: none;                /* disable cut copy paste */
		-webkit-touch-callout: none;              /* disable callout, image save panel */
		-webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
	}

	#menu-button:active {
		
	}

	#cover {
		width:100%;
		height:100%;
		background:#ccc;
		background: -webkit-linear-gradient(top, #ddd 0%, #aaa 100%); /* Chrome10+,Safari5.*/
		/*test*/
		position: absolute;
		top:0;
		left:0;
		z-index:1;

		/*needs to be in the html*/
		
		background: url(../img/portrait_full_sm.png) no-repeat center center;
		background-color:#ccc;
		background-size:cover;

		/*need faux shadow on right side?*/
		box-shadow: 10px 0px 10px rgba(0,0,0,.3);

		/*transitions*/
		-webkit-transition: left .3s cubic-bezier(.54, .16, .57, .88);
	}

	#cover.active {
		/*left:-62px;*/	
	}

	#title {
		display:block;
		background:url(../img/clint-eastwood-phone.png) no-repeat;
		width:300px;
		height:150px;
		margin:10px 10px 0;
		background-size:contain;
		padding:0;
		position:relative;
		/*more performant approach to hiding text?*/
		line-height:0; 
	    font-size:0;
	    color:transparent; 
	}

	#title #date {
		position: absolute;
		bottom:0;
	}

	#title-text {
		width:95%;
		color:#fff;
		margin:20px auto;
		display:block;
		padding:0;
	}

	#first-name {
		color:#fff700;
	}

	#first-name, #last-name {
		opacity:0;
		font-family:'Chunkfive';
		display: block;
		font-size:12px;
		padding:1px;
		text-align: left;
		margin:0 auto;
		line-height:.7;
		white-space: nowrap;
		-webkit-text-stroke-width: 1.2px;
   		-webkit-text-stroke-color: black;
	}

	#last-name {
		margin-top:-25px;
		margin-left:90px;
	}

	#first-name.resized, #last-name.resized {
		opacity:1;
	}

	#date {
		font-family:Helvetica, sans-serif;
		font-weight:bold;
		color:#efefef;
		margin-top:5px;
		font-size:12px;
		text-shadow:0 1px 2px rgba(0,0,0,.7);
	}

	#nav {
		

		/*test*/
		position: absolute;
		top:0;
		left:0;
		z-index:0;
		box-sizing:border-box;
		-webkit-transition: height .3s cubic-bezier(.54, .16, .57, .88);
		overflow: hidden;
		width:320px;
	}


	#nav li {
		display:block;
		text-align:center;
		margin:0;
		margin-bottom:15px;
		font-size:10px;
		font-family:Helvetica, sans-serif;
		font-weight:bold;
		padding:0;
		padding-top:28px;
	}

	#nav li:first-child {
		margin-top:80px;
	}

	#nav-news {
		background: url(../img/timeline.svg) no-repeat center top;
	}

	#nav-news {
		background: url(../img/timeline.svg) no-repeat center top;
	}

	#nav-photos {
		background: url(../img/photos.svg) no-repeat center top;
	}

	#nav-videos {
		background: url(../img/videos.svg) no-repeat center 2px;
	}

	#nav-bio {
		background: url(../img/bio.svg) no-repeat center 2px;
	}

	#nav-contact {
		background: url(../img/contact.svg) no-repeat center 2px;
	}


	#content {
		/*test*/
		position: absolute;
		width:100%;
		left:0;
		bottom:0;
	}

	#pullquote, #links {
		padding:5px 10px;
		font-family:'NewsGothicCondensed';
	}

	#pullquote {
		display: block;
		font-family:'NewsGothicCondensed';
		font-size:29px;
		text-shadow:0 1px 4px rgba(0,0,0,.5);
		text-transform:uppercase;
		color:#fff;
		line-height:.9;
		width:60%;
		float:left;
		margin-bottom:130px;
	}

	#links {
		font-size:10px;
		text-transform:uppercase;
		font-weight:bold;
		box-sizing:border-box;
		margin:0;
		text-shadow:0 1px 1px rgba(0,0,0,.4);
		
		/*clearfix*/
		display:block;
		position:absolute;
		right:5px;
		bottom:5px;
		width:50%;
	}

	#link-left, #link-right {

	}

	#link-left {
		float:left;
	}

	#link-right {
		float:right;
		text-align:right;
	}

	#links a {
		
	}
}

@media (min-width: 768px) {
	#title {
		background:url(../img/clint-eastwood-tablet.png) no-repeat;
		width:640px;
		height:274px;
		margin:10px auto;
		position:relative;
	}
	#title #date {
		position: absolute;
		bottom:0;
	}

	#title-text {
		margin-top:20px;
		width:70%;
	}
	#date {
		margin-top:20px;
	}
	#first-name, #last-name {
		line-height:.7;
	}

	#cover {		
		background: url(../img/portrait_full.jpg) no-repeat center center;
	}
	#pullquote, #links {
		padding:10px 20px;
	}
	#pullquote {
		font-size:56px;
		width:60%;
		margin-bottom:20px;
	}
	#links {
		font-size:16px;
		font-weight:normal;
		padding:20px;
	}
}





/*
----------------------------------------------------
PAGE CURL
----------------------------------------------------

Sample HTML:
-----------------------------

<div id="all">
	<div id="page-flip">
		<div id="r1"><div id="p1"><div><div></div></div></div></div>
		<div id="p2"><div></div></div>
		<div id="r3"><div id="p3"><div><div></div></div></div></div>
		<div class="s"><div id="s3"><div id="sp3"></div></div></div>
		<div class="s" id="s4"><div id="s2"><div id="sp2"></div></div></div>
		<a id="coke" href="http://www.romancortes.com/blog/pure-css-coke-can/" title="Pure CSS Coke Can"></a>
		<a id="meninas" href="http://www.romancortes.com/blog/css-3d-meninas/" title="CSS 3D Meninas"></a>
	</div>
</div>
*/


#r1
{
	position: absolute;
	z-index: 2;
	-webkit-transform-origin: 1315px 500px;
	-webkit-transform: translate(-1030px, -500px) rotate(-32deg);
	-webkit-transition-property: -webkit-transform, -webkit-transform-origin;
	-webkit-transition-duration: 1s;
}
#p1
{
	width: 1285px;
	height: 1388px;
	overflow: hidden;
}

#p1 > div
{
	-webkit-transform-origin: 285px 0;
	-webkit-transform: translate(1030px, 500px) rotate(32deg);
	-webkit-transition-property: -webkit-transform, -webkit-transform-origin;
	-webkit-transition-duration: 1s;
	width: 320px;
	height: 416px;
}
#p1 > div > div
{
	width: 10px;
	height: 388px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0,0,0,0)));
}

#p2 > div
{
	width: 320px;
	height: 416px;
	position: absolute;
	z-index: 1;
}
#r3
{
	-webkit-transform-origin: 1315px 500px;
	-webkit-transform: translate(-1030px, -500px) rotate(-32deg);
	-webkit-transition-property: -webkit-transform, -webkit-transform-origin;
	-webkit-transition-duration: 1s;
	position: absolute;
	z-index: 2;
}

#s3
{
	-webkit-transform-origin: 70px 500px;
	-webkit-transform: translate(215px, -500px) rotate(-32deg) translate(40px, 0);
	-webkit-transition-property: -webkit-transform, -webkit-transform-origin;
	-webkit-transition-duration: 1s;
	position: absolute;
	z-index: 1;
}

#sp3
{
	width: 25px;
	height: 1000px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .25)), to(rgba(0,0,0,0)));
	-webkit-transition-property: width;
	-webkit-transition-duration: 1s;
	overflow: hidden;
}

.s
{
	width: 320px;
	height: 416px;
	position: absolute;
	overflow: hidden;
	z-index: 3;
}
#s2
{
	-webkit-transform-origin: 45px 500px;
	-webkit-transform: translate(240px, -500px) rotate(-32deg);
	-webkit-transition-property: -webkit-transform, -webkit-transform-origin;
	-webkit-transition-duration: 1s;
	position: absolute;
}

#p2 {
	
}

#sp2
{
	width: 15px;
	height: 1000px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .18)), to(rgba(0,0,0,0)));
	overflow: hidden;

}
#s4
{
	opacity: 1;
	-webkit-transition-duration: 0.5s;

}

#p3
{
	width: 1285px;
	height: 1388px;
	overflow: hidden;
}
#p3 > div
{
	-webkit-transform-origin: 0 0;
	-webkit-transform: translate(1255px, 500px) rotate(-32deg);
	-webkit-transition-property: -webkit-transform, -webkit-transform-origin;
	-webkit-transition-duration: 1s;
	-webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .5);
	width: 320px;
	height: 416px;
	background:#efefef;
	overflow: hidden;
}
#p3 > div > div
{
	width: 9px;
	height: 500px;
	float: right;
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0,0,0,.20)));
}


body.active #r1
{
	-webkit-transform-origin: 1570px 500px;
	-webkit-transform: translate(-1285px, -500px) rotate(0deg);
}
body.active #p1 > div
{
	-webkit-transform-origin: 285px 0;
	-webkit-transform: translate(1285px, 500px) rotate(0deg);
}
body.active #r3
{
	-webkit-transform-origin: 1570px 500px;
	-webkit-transform: translate(-1285px, -500px) rotate(0deg);
}
body.active #p3 > div
{
	-webkit-transform-origin: 0 0;
	-webkit-transform: translate(1000px, 500px) rotate(0deg);
}

body.active #s3
{
	-webkit-transform-origin: 325px 500px;
	-webkit-transform: translate(-40px, -500px) rotate(0deg) translate(40px, 0);
}

body.active #sp3
{
	width: 11px;
}

body.active #s4
{
	opacity: 0;
}
body.active #s2
{
	-webkit-transform-origin: 300px 500px;
	-webkit-transform: translate(-15px, -500px) rotate(0deg);
}

