@font-face { font-family: 'CenturySchoolbook'; src: url("../fonts/centuryschoolbook.otf") format("opentype"); }

@font-face { font-family: 'Chunkfive'; src: url("../fonts/chunkfive.otf") format("opentype"); }

@media (min-width:320px) { /* line 10, ../sass/style.scss */
  html { height: 100%; width: 100%; }
  /* line 14, ../sass/style.scss */
  body { margin: 0; padding: 0; height: 100%; position: relative; width: 100%; /*temp*/ color: #fff; min-height: 418px; font-size: 10px; }
  /* line 25, ../sass/style.scss */
  #menu-button { background: url(../img/logo.svg) no-repeat; background-size: contain; display: block; width: 50px; height: 50px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /*test*/ position: absolute; top: 5px; right: 5px; z-index: 2; /*more performant approach to hiding text?*/ line-height: 0; font-size: 0; color: transparent; /*temp*/ -webkit-user-select: none; /* disable cut copy paste */ -webkit-touch-callout: none; /* disable callout,image save panel */ -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */ }
  /* line 51, ../sass/style.scss */
  #cover { width: 100%; height: 100%; background: #ccc; background: -webkit-linear-gradient(top, #dddddd 0%, #aaaaaa 100%); /* Chrome10+,Safari5.*/ /*test*/ position: absolute; top: 0; left: 0; z-index: 1; /*needs to be in the html*/ background: url(../img/portrait_full_sm.png) no-repeat center center; background-color: #ccc; background-size: cover; /*need faux shadow on right side?*/ box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.3); /*transitions*/ -webkit-transition: left 0.3s cubic-bezier(0.54, 0.16, 0.57, 0.88); }
  /* line 71, ../sass/style.scss */
  #cover.active { left: -62px; }
  /* line 74, ../sass/style.scss */
  #title-text { width: 95%; margin: 10px auto; display: block; padding: 0; }
  /* line 79, ../sass/style.scss */
  #title-text #date { font-family: Helvetica,sans-serif; font-weight: 200; color: #fff; font-size: 18px; text-align: right; }
  /* line 86, ../sass/style.scss */
  #title-text #first-name { opacity: 0; font-family: 'Chunkfive'; font-size: 12px; text-align: center; margin: 0 auto; line-height: 1.1; text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); white-space: nowrap; z-index: 1; position: absolute; -webkit-text-fill-color: yellow; /* Will override color (regardless of order) */ -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black; }
  /* line 102, ../sass/style.scss */
  #title-text #last-name { opacity: 0; display: block; position: relative; left: 12%; padding-top: 18%; font-family: 'Chunkfive'; font-size: 12px; text-align: left; margin: 0 auto; line-height: 1.1; white-space: nowrap; z-index: 2; text-shadow: 5px 5px 14px rgba(0, 0, 0, 0.5); -webkit-text-fill-color: white; /* Will override color (regardless of order) */ -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black; }
  /* line 121, ../sass/style.scss */
  #title-text #first-name.resized, #title-text #last-name.resized { opacity: 1; }
  /* line 125, ../sass/style.scss */
  #nav { padding: 0; margin: 0; background-color: #bc101a; width: 62px; height: 100%; /*test*/ position: absolute; top: 0; right: 0; z-index: 0; padding-top: 80px; box-sizing: border-box; }
  /* line 138, ../sass/style.scss */
  #nav li { display: block; text-align: center; margin: 0; margin-bottom: 15px; font-size: 10px; font-family: Helvetica,sans-serif; font-weight: bold; padding: 0; padding-top: 28px; width: 62px; }
  /* line 150, ../sass/style.scss */
  #nav #nav-news { background: url(../img/timeline.svg) no-repeat center top; }
  /* line 153, ../sass/style.scss */
  #nav #nav-photos { background: url(../img/photos.svg) no-repeat center top; }
  /* line 156, ../sass/style.scss */
  #nav #nav-videos { background: url(../img/videos.svg) no-repeat center 2px; }
  /* line 159, ../sass/style.scss */
  #nav #nav-bio { background: url(../img/bio.svg) no-repeat center 2px; }
  /* line 162, ../sass/style.scss */
  #nav #nav-contact { background: url(../img/contact.svg) no-repeat center 2px; }
  /* line 166, ../sass/style.scss */
  #content { /*test*/ position: absolute; width: 100%; left: 0; bottom: 0; }
  /* line 173, ../sass/style.scss */
  #pullquote, #links { padding: 5px 10px; }
  /* line 176, ../sass/style.scss */
  #pullquote { display: block; margin-bottom: 10px; font-size: 20px; font-family: 'CenturySchoolbook'; font-weight: bold; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); margin-bottom: 30px; width: 66%; line-height: 1.2; }
  /* line 186, ../sass/style.scss */
  #pullquote a { color: #FFCE78; text-decoration: none; }
  /* line 191, ../sass/style.scss */
  #links { font-size: 11px; text-transform: uppercase; font-family: Helvetica,sans-serif; font-weight: bold; box-sizing: border-box; margin: 0; width: 100%; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAIAAhQCBx/kPfQAAAABJRU5ErkJggg==); /*replace with image*/ border-top: 1px solid rgba(40, 40, 40, 0.4); /*clearfix*/ display: inline-table; }
  /* line 204, ../sass/style.scss */
  #links a { color: #ca0016; }
  /* line 208, ../sass/style.scss */
  #link-left, #link-right { width: 47%; }
  /* line 211, ../sass/style.scss */
  #link-left { float: left; }
  /* line 214, ../sass/style.scss */
  #link-right { float: right; } }
@media (min-width:768px) { /* line 219, ../sass/style.scss */
  #title { background: url(../img/clint-eastwood-tablet.png) no-repeat; width: 640px; height: 274px; margin: 10px auto; position: relative; }
  /* line 225, ../sass/style.scss */
  #title #date { position: absolute; bottom: 0; }
  /* line 230, ../sass/style.scss */
  #title-text { margin-top: 20px; width: 70%; }
  /* line 234, ../sass/style.scss */
  #date { margin-top: 20px; }
  /* line 237, ../sass/style.scss */
  #first-name, #last-name { line-height: 1.1; }
  /* line 240, ../sass/style.scss */
  #cover { background: url(../img/portrait_full.jpg) no-repeat center center; }
  /* line 243, ../sass/style.scss */
  #pullquote, #links { padding: 10px 20px; }
  /* line 246, ../sass/style.scss */
  #pullquote { font-size: 48px; width: 60%; margin-bottom: 20px; }
  /* line 251, ../sass/style.scss */
  #links { font-size: 16px; font-weight: normal; padding: 20px; } }
